<!DOCTYPE html>
<html>
<title>HATE SPEECH DETECTOR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >

<head>

	<link rel="icon" href="static/img/images.jpeg" type="image/gif" sizes="64x64">

	<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>

</head>

<body class="w3-theme-l5">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		<div class="container">
			
			<div class="row">
			
				<div class="col-md-2">
				
				</div>
				
				<div class="col-sm-8">
				
					<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-large" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
					
					<a href="home.html" class="w3-bar-item w3-button w3-padding-medium w3-theme-d2 w3-round">IMPROVING THE PERFORMANCE OF HATE SPEECH DETECTION USING MACHINE LEARNING TECHNIQUES</a>
				
				</div>
				
				<div class="col-md-2">
				
				</div>
			
			</div>
			
		</div>
		
	</nav>

	<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
		
		<a class="navbar-brand" href="home.html">
		
			<img src="static/img/logo.jpeg" width="50" height="50" class="d-inline-block align-top " alt=""> 
		
		</a> <!--src = "images/IT.jpeg" -->
	   
	  
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		
			<span class="navbar-toggler-icon"></span>
		
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">
		
				<li class="nav-item active">
			
					<strong><a class="nav-link text-dark" href="home.html">JAYPEE INSTITUTE OF INFORMATION TECHNOLOGY</a></strong>
				
				</li>
				
				<li class="nav-item active ml-4">
				  
					<a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
				
				</li>
				
				<li class="nav-item active ml-3">
				  
					<a class="nav-link" href="#">About Us</a>
				
				</li>

				
				<li class="nav-item active ml-3">
				
					<a class="nav-link" href="#">TF-IDF</a>
				
				</li>
				
				<li class="nav-item active ml-3">
				  
					<a class="nav-link" href="ngram.html">N-GRAMS</a>
				
				</li>
				
				<li class="nav-item active ml-3">
				  
					<a class="nav-link" href="pmi.html">PMI</a>
				
				</li>
				
				<li class="nav-item active ml-3">
				  
					<a class="nav-link" href="ngrampmi.html">PMI-NGRAMS</a>
				
				</li>
			
			</ul>
			
			<form class="form-inline my-2 my-lg-0">
			
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				
				<button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
			
			</form>
		
		</div>
	  
	</nav>

	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
	  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
	  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
	  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
	  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
	</div>
	<!--Navbar Ends-->


	<!-- Page Container -->
	<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
	  
		<!-- The Grid -->
		<div class="w3-row">
		
			<!-- Left Column -->
		
			<!-- Middle Column -->
			<div class="w3-col m9">
			
				<div class="w3-row-padding">
				
					<div class="w3-col m12">
					
						<div class="w3-card w3-round w3-white">
						
							<div class="w3-container w3-padding py-3 px-4">
							
								<h6 class="w3-opacity py-3">What's your status?</h6>
								
								<!--<p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>-->
								
								<form method="post" action="pmi.html" class="form-signin pb-3 w3-round">
								
								<input type="text" name="tweet" placeholder="Enter a tweet..." class="w3-border w3-padding col-sm-12 w3-round	"><br><br>
								
								<button type="submit" class="w3-button w3-theme pl-3 w3-round"><i class="fa fa-pencil"></i>  Post</button> 
							
							</div>
						
						</div>
					
					</div>
				
				</div>
				
				<!--Division for random tweet-->
			  
				<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
					
					<img src="static/img/avatar.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right img-thumbnail rounded" id="imageOfPerson" onclick="loadImage()" style="width:60px" >
					
					<?php
					
						$filename="./nic/image/gene.jpg";
							
					?>
					
					<script type="text/javascript">
					
						window.onclick = function loadImage()
						{
							document.getElementById("imageOfPerson").src = "<?php echo "$filename"; ?>";
						}
					
					</script>
					
							
					<p onload="name()">
						
						<strong>
							
							<span>
							
								{% if (hateness == 1) %}

									<strong>@IamHatePerson</strong>
								
								{% else %}
								  
									<strong>@IamInnocent</strong>
								
								{% endif %}
								
							</span>
					
						</strong>
					
						<span class="w3-right w3-opacity">1 min</span>
						
					</p>
					
					<h5>RANDOM TWEET</h5>
					
					<hr class="w3-clear">
						
					<span{% if (hateness == 1) %} style="color: red" {% else %} style ="color: green" {% endif %}>{{ tweet }} </span>
					
					<br><br>
					
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
					
					<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
				  
				</div>
				
				<!--Division for tweet entered-->
				
				<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
					
					<img src="static/img/avatar.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right img-thumbnail rounded" id="imageOfPerson" onclick="loadImage()" style="width:60px" >
					
					<?php
					
						$filename="./nic/image/gene.jpg";
							
					?>
					
					<script type="text/javascript">
					
						window.onclick = function loadImage()
						{
							document.getElementById("imageOfPerson").src = "<?php echo "$filename"; ?>";
						}
					
					</script>
					
							
					<p onload="name()">
						
						<strong>
							
							<span>
							
								{% if (answer == 'pos') %}

									<strong>@IamHatePerson</strong>
								
								{% else %}
								  
									<strong>@IamInnocent</strong>
								
								{% endif %}
								
							</span>
					
						</strong>
						
						<span class="w3-right w3-opacity">1 min</span>
					
					</p>
					
					<br>
					
					<hr class="w3-clear">
						
					<span{% if (answer == 'pos') %} style="color: red" {% else %} style ="color: green" {% endif %}>{{ tweet_entered }} </span>
					
					<br><br>
					
					<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
					
					<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
				  
				</div>
			  
			<!-- End Middle Column -->
			</div>
		
			<!-- Right Column -->
			<div class="w3-col m3 mt-3">
			  
				<br>
				
				<div class="w3-card w3-round w3-white w3-center bg-warning" style="width: 400px;">
				
					<div class="w3-container">
					
						<br>
						
						<p><strong><h3>Top Hater's List</h3></strong></p>
						
						<br>
						
						<img src="static/img/haters.jpg" alt="HATERS" width="250" height="120" class="d-inline-block align-top rounded" >
						
						<br><br><br>
						
						<div class="row">	
						
							<div class="col-md-6">
								
								<ol type="I">
								
									<li id="datetime">
									
										<strong>
										
											<script type="text/javascript">
												
												var d = new Date();
												
												document.getElementById("datetime").innerHTML = d;
												
											</script>
										
										</strong>
									
									</li>
								
								</ol>
								
							</div>
						
							<div class="col-md-6">
								
								<li id="nameOfPerson" style="list-style-type:none;">
									
									<strong>
								
										<span>
											
												{% if (answer == 'pos') %}

													<strong>@IamHatePerson</strong>
												
												{% endif %}
												
										</span>
										

									
									</strong>
								
								</li>			
								
							</div>
						
						</div>
					
					<!--<p><button class="w3-button w3-block w3-theme-l4">Info</button></p>-->
						
						<br>
							
						<div class="w3-half pb-3">
						
							<button type="button" class=" btn w3-block w3-section btn-success btn-lg rounded" title="Accept" onclick = "decideCheck('yes')"><i class="fa fa-check"></i></button>
						
						</div>
						
						<div class="w3-half pb-3">
							
							<button type="button" class=" btn w3-block btn-danger btn-lg w3-section rounded" title="Decline" onclick = "decideCheck('no')"><i class="fa fa-remove"></i></button>
				
						</div>
						
						<script type="text/javascript">
							
							function decideCheck(response)
							{
							
								if(response == 'yes')
								{
								
									alert('You are good to go');
									
								}
								
								else
								{
								
									alert('Hate Speech is not allowed');
								
								}
								
								
								
							}
						</script>
					
					</div>
				
				</div>
			  
				<br>
			  
			<!-- End Right Column -->
			</div>
		
		<!-- End Grid -->
		</div>
	  
	<!-- End Page Container -->
	</div>
	<br>

	<!-- Footer -->
	<footer class="w3-container w3-theme-d3 w3-padding-16">
	  <h5>Footer</h5>
	</footer>

	<footer class="w3-container w3-theme-d5">
	  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
	</footer>
	 
	<script>
	// Accordion
	function myFunction(id) {
	  var x = document.getElementById(id);
	  if (x.className.indexOf("w3-show") == -1) {
		x.className += " w3-show";
		x.previousElementSibling.className += " w3-theme-d1";
	  } else { 
		x.className = x.className.replace("w3-show", "");
		x.previousElementSibling.className = 
		x.previousElementSibling.className.replace(" w3-theme-d1", "");
	  }
	}

	// Used to toggle the menu on smaller screens when clicking on the menu button
	function openNav() {
	  var x = document.getElementById("navDemo");
	  if (x.className.indexOf("w3-show") == -1) {
		x.className += " w3-show";
	  } else { 
		x.className = x.className.replace(" w3-show", "");
	  }
	}
	</script>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>

</html> 

